
<app-steps></app-steps>

<table border="1px" style="display: none;">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Address</th>
    <th>Phone No.</th>
  </thead>
  <tbody>
    <tr *ngFor="let people of people">
      <td>{{people.firstName}}</td>
      <td>{{people.lastName}}</td>
      <td>{{people.gender}}</td>
      <td>{{people.age}}</td>
      <td>{{people.address.streetAddress}}, 
        {{people.address.city}}, 
        {{people.address.state}},
        {{people.address.postalCode}}</td>
      <td>{{people.phoneNumber}}</td>
    </tr>
  </tbody>
</table>
