<div class="steps">
  <div class="step">
    <p>Incoming Claims</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="">
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>123</p>
    </div>
  </div>
  <div class="step">
    <p>Structure Validation</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="" />
    <div class="issue">
      <p class="issue-brief"><span class="num">2</span><span class="green-circle"></span></p>
      <p>Structural Failures</p>
    </div>
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>50,382</p>
    </div>
  </div>
  <div class="step">
    <p>Eligibility Check</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="" />
    <div class="issue">
      <p class="issue-brief"><span class="num">2</span><span class="green-circle"></span></p>
      <p>Failed Eligibility</p>
    </div>
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>50,382</p>
    </div>
  </div>
  <div class="step">
    <p>Claim System</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="" />
    <div class="issue">
      <p class="issue-brief"><span class="num">2</span><span class="green-circle"></span></p>
      <p>Rejected Claims</p>
    </div>
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>50,382</p>
    </div>
  </div>
  <div class="step">
    <p>Adjudication</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="" />
    <div class="issue">
      <p class="issue-brief"><span class="num">2</span><span class="green-circle"></span></p>
      <p>Failed Adjudication</p>
    </div>
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>50,382</p>
    </div>
  </div>
   <div class="step">
    <p>Extended Validation</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="" />
    <div class="issue">
      <p class="issue-brief"><span class="num">2</span><span class="green-circle"></span></p>
      <p>Validation Failures</p>
    </div>
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>50,382</p>
    </div>
  </div>
   <div class="step">
    <p>Regulatory Agency</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7274/7274010.png" alt="" />
    <div class="issue">
      <p class="issue-brief"><span class="num">2</span><span class="green-circle"></span></p>
      <p>Regulatory Rejections</p>
    </div>
  </div>
  <div class="arrow">
    <div>
      <div class="arrow-img"></div>
      <p>50,382</p>
    </div>
  </div>
   <div class="step">
    <p>Completed</p>
    <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" alt="" />
  </div>
</div>
